apiProxies/sampleApp-v1-v1_17224862/target/META-INF/mule-src/api-gateway-sample-http-proxy/src/main/mule/http-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:proxy="http://www.mulesoft.org/schema/mule/proxy"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
        http://www.mulesoft.org/schema/mule/proxy http://www.mulesoft.org/schema/mule/proxy/current/mule-proxy.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <configuration defaultResponseTimeout="${proxy.responseTimeout}"/>

    <proxy:config name="proxy-config"/>

    <api-gateway:autodiscovery apiId="${api.id}" flowRef="proxy" api-gateway:ignoreBasePath="true"/>

    <flow name="proxy">
        <http:listener config-ref="http-listener-config" path="${proxy.path}" responseStreamingMode="AUTO">
            <http:response statusCode="#[attributes.statusCode]" reasonPhrase="#[attributes.reasonPhrase]">
                <http:headers>#[if (vars.proxyResponseHeaders?) vars.proxyResponseHeaders else {}]</http:headers>
            </http:response>
        </http:listener>

        <proxy:request-headers config-ref="proxy-config" target="proxyRequestHeaders"/>

        <ee:transform doc:name="Transform Message" doc:id="22e97af0-36da-4544-85b1-62a51cfbf298" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://learnwebservices.com/services/hello
---
{
	ns0#Envelope: {
		ns0#Body: {
			ns01#SayHello: {
				ns01#HelloRequest: {
					ns01#Name: payload.name
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request config-ref="http-request-config" method="#[attributes.method]"
                      path="#[if (attributes.maskedRequestPath == '/' and attributes.requestUri[-1] != '/') '' else attributes.maskedRequestPath]">
            <http:headers>#[vars.proxyRequestHeaders]</http:headers>
            <http:uri-params>#[attributes.uriParams]</http:uri-params>
            <http:query-params>#[attributes.queryParams]</http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <logger level="INFO" doc:name="Logger" doc:id="82425eb7-770c-4bd9-aea0-db70e3f9f520" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a28469a8-54be-401b-8dab-5d6aca4f337f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://learnwebservices.com/services/hello
---
{
	Message: payload.ns0#Envelope.ns0#Body.ns01#SayHelloResponse.ns01#HelloResponse.ns01#Message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<proxy:response-headers config-ref="proxy-config" target="proxyResponseHeaders"/>

        <error-handler>
            <on-error-continue type="HTTP:TIMEOUT" logException="false">
                <ee:transform>
                    <ee:message>
                        <ee:set-attributes>
                            {
                                statusCode: 504
                            }
                        </ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
</mule>
